<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427173219988-b82puom9k617pq31kbej9r7k06nr5n88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427173219988-b82puom9k617pq31kbej9r7k06nr5n88</string>
	<key>API_KEY</key>
	<string>AIzaSyDOlWCK_B91B7TnCRTmjfeFT15cn7lYDaE</string>
	<key>GCM_SENDER_ID</key>
	<string>427173219988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>starter-2643c</string>
	<key>STORAGE_BUCKET</key>
	<string>starter-2643c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427173219988:ios:e74a4dc7b088571e8d6e81</string>
</dict>
</plist>